<% @document_title="Article" %>

<article>
	<header>
		<h1>My Vision for Analog.Cafe</h1>
		<span class="subtitle">A new project, for and by the film photography community</span>
		<span class="small-caption">Written by <a href="#">dmitrizzle</a> &middot; January 30, 2017</span>
		<a href="#" class="favorite"></a>
	</header>
	<section>
		<figure class="feature">
			<%= image_tag "template/Analog.Cafe-Poster.jpg" %>
			<figcaption>Image credit: “Federal Rhine” by Betty.</figcaption>
		</figure>
		<p>The things that we see go beyond being merely projected onto the back of our eyes. It all has to go somewhere. Before we even get to react to the images a part of our brain turns everything into a visual story that has a meaning. Without this crucial process, humans <a href="https://en.wikipedia.org/wiki/Visual_agnosia#Symptoms">would not be able to</a> distinguish between a child and a fire hydrant. Even the simplest things like lines and squares would not exist unless the brain can find them in the matrix of dots that our eyes transmit...</p>
		<h2>Second-level heading</h2>
		<p>Before I got involved with making websites and even photography animation was my primary method of expression. Back in the 90's my elementary school friends and I got pirated copies of 3D Studio MAX to play with. Back then computers were a novelty so just seeing things move on a screen was cool as fuck. Everything we created was obviously garbage but this process started an itch. An itch to create and experiment that made me the man I am today.</p>
		<figure>
			<%= image_tag "template/L_Woop-Woop.jpg" %>
			<figcaption>"This is not a pipe" is a famous play on reality by <a href="https://en.wikipedia.org/wiki/The_Treachery_of_Images">René Magritte</a>. He was trying to say that the image he drew and most would refer to as a "pipe" isn't. It's just a drawing or a collection of color pigments on a piece of paper. Can't smoke that.</figcaption>
		</figure>
		
		<h3>Third-level heading</h3>
		<p>A few years later I had to leave everything, everyone, behind to move with my family from Russia to Canada. My hobbies varied considerably since the days of playing with ancient software. Most of the time I just wanted to speak and understand proper English and fit in somehow. Later I decided that I wanted to pick up chicks, so skateboarding and electric guitars took over.</p>
		<p>Life isn't static. Neither is our perception of it. Motion, just like the objects (which are dots before they become things) has to be understood. If we fail, we can no longer live a healthy life as everything turns into a slideshow. The horrors of an old computer and a demanding video game become a reality.</p>
		<aside class="card-embed">
			<figure>
				<img src="https://pbs.twimg.com/media/C1Y2wyIUoAAZAw9.jpg:large">
				<figcaption><a href="#">@analog_cafe</a>: "The meaning of life is to find your gift. The purpose of life is to give it away.”  ― Pablo Picasso</figcaption>
			</figure>
			<a href="#" class="button">View on Twitter</a>
		</aside>
		<p>Most of the time things work just fine. We see stuff, the brain makes sense out of it; how it moves and changes over time. Occasionally, nothing is there, neither does it move. A video that you watch on YouTube isn't real. It's just millions of tiny light bulbs changing color as dictated by the computer. Everything is static, except for the intensity of light and the wavelength for each pixel.</p>
		<blockquote><p>We think something is in motion when it's moving along the vertical or horisontal axis. It could swing like a pendulum or it could move in a single direction.</p></blockquote>
		<p>We think something is in motion when it changes ten times per second or faster. What happens to it within each one of those moments is crucial as it adds to our idea of where it moves or how it changes.</p>
		<blockquote><p>We think something is in motion when it's moving along the vertical or horisontal axis. It could swing like a pendulum or it could move in a single direction. We think something is in motion when it's moving along the vertical or horisontal axis. It could swing like a pendulum or it could move in a single direction.</p><p>We think something is in motion when it's moving along the vertical or horisontal axis. It could swing like a pendulum or it could move in a single direction.</p><cite>A quote by some famous guy.</cite></blockquote>
		<p>The first time we tricked our brains like that was over <a href="https://en.wikipedia.org/wiki/History_of_animation#Early_approaches_to_motion_in_art">5,000 years ago</a>. We never stopped since. Animation has been with us through time as we told stories and brought them to life through sound, written word, and images.</p>
		<figure class="feature">
			<%= image_tag "template/L_Very-Red-Flower.jpg" %>
			<figcaption>This is not a pipe" is a famous play on reality by René Magritte. He was trying to say that the image he drew and most would refer to as a "pipe" isn't. It's just a drawing or a collection of color pigments on a piece of paper. Can't smoke that.</figcaption>
		</figure>
		<figure class="feature">
			<%= image_tag "template/L_Let-It-Go.jpg" %>
			<figcaption>This is not a pipe" is a famous play on reality by René Magritte. He was trying to say that the image he drew and most would refer to as a "pipe" isn't. It's just a drawing or a collection of color pigments on a piece of paper. Can't smoke that.</figcaption>
		</figure>
		<figure class="feature">
			<%= image_tag "template/L_Woop-Woop.jpg" %>
			<figcaption>This is not a pipe" is a famous play on reality by René Magritte. He was trying to say that the image he drew and most would refer to as a "pipe" isn't. It's just a drawing or a collection of color pigments on a piece of paper. Can't smoke that.</figcaption>
		</figure>
		<figure class="feature">
			<%= image_tag "template/11.6.2016-de.jpg" %>
			<figcaption>This is not a pipe" is a famous play on reality by René Magritte. He was trying to say that the image he drew and most would refer to as a "pipe" isn't. It's just a drawing or a collection of color pigments on a piece of paper. Can't smoke that.</figcaption>
		</figure>
		<aside class="card">
			<header>
				<h3>Section Card</h3>
				<a href="#">&#10005;</a>
			</header>
			<figure>
				<%= image_tag "template/L_Let-It-Go.jpg" %>
				<figcaption>This is a card. It contains additional info, options & contextual menus.</figcaption>
			</figure>
			<a href="#" class="button">Section Card Button</a>
		</aside>
		<a href="#" class="button">Section Button</a>
	</section>
	<a href="#" class="button">Article Button</a>
</article>
<a href="#" class="button">Main Button</a>
<aside class="card" style="position: absolute; top: 1040px; left: calc(50% - 160px);">
	<header>
		<h3>Main Card</h3>
		<a href="#">&#10005;</a>
	</header>
	<figure>
		<%= image_tag "template/L_Let-It-Go.jpg" %>
		<figcaption>This is a card. It contains additional info, options & contextual menus.</figcaption>
	</figure>
	<a href="#" class="button">Main Card Button</a>
</aside>

<script>typographyFormat()</script>