<% @document_title="Index" %>

<section class="motto"><q><span><em>Film photography, the people and the stories that make it special</em> &#x2615;️</span></q></section>

<!-- ARTICLE INDEX SECTION, USE WITH STYLESHEETS VARIABLE BELOW -->
<section class="index">
	<ul>
		<li>
			<figure class="index-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Let-It-Go.jpg') %>);"></a>
			</figure>
			<section class="index-summary">
				<a href="/article">
					<h2>Tokyo Streets at Night</h2><br>
					<h3>Featured Photo</h3>
				</a>
				<span class="small-caption">Taken by <a href="#">chi</a> &middot; January 12, 2017</span>
			</section>
			<figure class="index-cover" style="background-image:url(<%= asset_path('template/L_Let-It-Go.jpg') %>);"></figure>
		</li>
		<li>
			<figure class="index-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Woop-Woop.jpg') %>);"></a>
			</figure>
			<section class="index-summary">
				<a href="/article">
					<h2>How to create beautiful red-scale photos by hand.</h2><br>
					<h3>Article</h3>
				</a>
				<span class="small-caption">Written by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="index-cover" style="background-image:url(<%= asset_path('template/L_Woop-Woop.jpg') %>);"></figure>
		</li>
		<li>
			<figure class="index-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Very-Red-Flower.jpg') %>);"></a>
			</figure>
			<section class="index-summary">
				<a href="/article">
					<h2>A Very Red Flower</h2><br>
					<h3>Photo Essay</h3>
				</a>
				<span class="small-caption">Composed by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="index-cover" style="background-image:url(<%= asset_path('template/L_Very-Red-Flower.jpg') %>);"></figure>
		</li>
		<li>
			<figure class="index-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"></a>
			</figure>
			<section class="index-summary">
				<a href="/article">
					<h2>The Misty Adventures</h2><br>
					<h3>Photo Essay</h3>
				</a>
				<span class="small-caption">Composed by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="index-cover" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"></figure>
		</li>
	</ul>
</section>
<!-- END ARTICLE INDEX SECTION -->