<!-- LOAD BLOCK -->
<!-- LIST -->
<section class="table-of-contents">
	<ul>
		
		
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure class="toc-figure"><%= image_tag "template/green.jpg" %></figure>
					<h3>Why Shoot Film?</h3>
					<h4>The things that we see go beyond being merely projected onto the back of our eyes. It all has to go somewhere. Before we even get to react to the images a part of our brain turns everything into a visual story that has a meaning.</h4>
					<small><strong>Photo Essay | 9 Images</strong><em>Kayla Medica &middot; January 12, 2017</em></small>
					
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/green.jpg') %>);"></div></figure>
			</a>
		</li>
		
		
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure class="toc-figure"><%= image_tag "template/green.jpg" %></figure>
					<h3>Why Shoot Film?</h3>
					<h4>The things that we see go beyond being merely projected onto the back of our eyes. It all has to go somewhere. Before we even get to react to the images a part of our brain turns everything into a visual story that has a meaning.</h4>
					<small><strong>Photo Essay | 9 Images</strong><em>Kayla Medica &middot; January 12, 2017</em></small>
					
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/green.jpg') %>);"></div></figure>
			</a>
		</li>
		
		
		
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/angles.jpg') %>);"></a>
			</figure>
			<section data-content-info="6-minute read" class="toc-summary">
				<a href="/article"><div>
					<h3>The Science of Analog Photography</h3>
				</div></a>
				<span class="small-caption">Written by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/angles.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Woop-Woop.jpg') %>);"></a>
			</figure>
			<section data-content-info="3-minute read" class="toc-summary">
				<a href="/article"><div>
					<h3>This Week's Most Notable</h3>
				</div></a>
				<span class="small-caption">Shared by <a href="#">&#x1F916;</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/L_Woop-Woop.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/Analog.Cafe-Poster.jpg') %>);"></a>
			</figure>
			<section data-content-info="12 photos" class="toc-summary">
				<a href="/article"><div>
				<h3>My Vision for Analog.Cafe</h3>
				</div></a>
				<span class="small-caption">Composed by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/Analog.Cafe-Poster.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/beach.jpg') %>);"></a>
			</figure>
			<section data-content-info="3 photos" class="toc-summary">
				<a href="/article"><div>
					<h3>Brighton Beach</h3>
				</div></a>
				<span class="small-caption">Composed by <a href="#">Lee Clark</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/beach.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"></a>
			</figure>
			<section data-content-info="12 photos" class="toc-summary">
				<a href="/article"><div>
					<h3>The Misty Adventures</h3>
				</div></a>
				<span class="small-caption">Composed by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"><a href="/article"></a></figure>
		</li>
	</ul>
</section>
<!-- END LIST -->

<!-- FEATURED -->
<section class="table-of-contents--feature">
	<a href="/article"><figure><%= image_tag "template/L_Let-It-Go.jpg" %></figure></a>
	<section>
		<!-- list component -->
		<figure class="toc-figure">
			<a href="/article" style="background-image:url(<%= asset_path('template/L_Let-It-Go.jpg') %>);"></a>
		</figure>
		<section data-content-info="1 photo" class="toc-summary">
			<a href="/article"><div>
				<h3>Tokyo Streets at Night</h3>
			</div></a>
			<span class="small-caption">Taken by <a href="#">chi</a> &middot; January 12, 2017</span>
		</section>
		<!-- end list component -->
	</section>
</section>
<!-- END FEATURED -->
<!-- END LOAD BLOCK -->

<!--
	What is a load block?
	Top of the page:
		- 1 (top) list item overflows header
		- 5 list items
		- 1 feature (only for default, non-sorted/non-filtered view)
	Next:
		- 10 list items
	Next:
		- 10 list items
	...
	First post ever (last post in this list):
		- feature (only for default, non-sorted/non-filtered view)
		- "Load More..." button becomes "Submit Your..."
	
	How is feature defined?
		- Set by editor/owner, expires after 7 days
		- If expired/none, 7th post from the top (chronologically)
-->


<!-- MOUSEOVER & CLICK SCRIPTS FOR THE LIST -->
<script>tocPointerEvents()</script>
<!-- END MOUSEOVER & CLICK SCRIPTS FOR THE LIST -->