<section class="table-of-contents">
	<ul>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Let-It-Go.jpg') %>);"></a>
			</figure>
			<section data-content-info="1 photo" class="toc-summary">
				<a href="/article"><div>
					<h2>Tokyo Streets at Night</h2>
					<h3>Featured Photo</h3>
				</div></a>
				<span class="small-caption">Taken by <a href="#">chi</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/L_Let-It-Go.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/graphic.jpg') %>);"></a>
			</figure>
			<section data-content-info="6-minute read" class="toc-summary">
				<a href="/article"><div>
					<h2>What is film photography?</h2>
					<h3>Article</h3>
				</div></a>
				<span class="small-caption">Written by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/graphic.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Very-Red-Flower.jpg') %>);"></a>
			</figure>
			<section data-content-info="1 photo" class="toc-summary">
				<a href="/article"><div>
					<h2>A Very Red Flower</h2>
					<h3>From Twitter</h3>
				</div></a>
				<span class="small-caption">Shared by <a href="#">robot</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/L_Very-Red-Flower.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"></a>
			</figure>
			<section data-content-info="12 photos" class="toc-summary">
				<a href="/article"><div>
					<h2>The Misty Adventures</h2>
					<h3>Photo Essay</h3>
				</div></a>
				<span class="small-caption">Composed by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Let-It-Go.jpg') %>);"></a>
			</figure>
			<section data-content-info="1 photo" class="toc-summary">
				<a href="/article"><div>
					<h2>Tokyo Streets at Night</h2>
					<h3>Featured Photo</h3>
				</div></a>
				<span class="small-caption">Taken by <a href="#">chi</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/L_Let-It-Go.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Woop-Woop.jpg') %>);"></a>
			</figure>
			<section data-content-info="3-minute read" class="toc-summary">
				<a href="/article"><div>
					<h2>How to create beautiful red-scale photos by hand</h2>
					<h3>Article</h3>
				</div></a>
				<span class="small-caption">Written by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/L_Woop-Woop.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Very-Red-Flower.jpg') %>);"></a>
			</figure>
			<section data-content-info="18 photos" class="toc-summary">
				<a href="/article"><div>
					<h2>A Very Red Flower</h2>
					<h3>Photo Essay</h3>
				</div></a>
				<span class="small-caption">Composed by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/L_Very-Red-Flower.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"></a>
			</figure>
			<section data-content-info="3 photos" class="toc-summary">
				<a href="/article"><div>
					<h2>The Misty Adventures</h2>
					<h3>Photo Essay</h3>
				</div></a>
				<span class="small-caption">Composed by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/L_Very-Red-Flower.jpg') %>);"></a>
			</figure>
			<section data-content-info="7 photos" class="toc-summary">
				<a href="/article"><div>
					<h2>A Very Red Flower</h2>
					<h3>Photo Essay</h3>
				</div></a>
				<span class="small-caption">Composed by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/L_Very-Red-Flower.jpg') %>);"><a href="/article"></a></figure>
		</li>
		<li>
			<figure class="toc-figure">
				<a href="/article" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"></a>
			</figure>
			<section data-content-info="4 photos" class="toc-summary">
				<a href="/article"><div>
					<h2>The Misty Adventures</h2>
					<h3>Photo Essay</h3>
				</div></a>
				<span class="small-caption">Composed by <a href="#">dmitrizzle</a> &middot; January 12, 2017</span>
			</section>
			<figure class="toc-cover" style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"><a href="/article"></a></figure>
		</li>
	</ul>
</section>
<script>
	var tocFigure = document.querySelectorAll('.toc-figure > a');
	var tocSummary = document.querySelectorAll('.toc-summary > a');
	var tocCover =  document.querySelectorAll('.toc-cover > a');
	var tocLi = document.querySelectorAll('.table-of-contents li');
 
	for (var i = 0; i < tocFigure.length; i++) {
		tocFigure[i].addEventListener("mousedown", function(){
			this.parentElement.parentElement.className = "active";
		});
		tocSummary[i].addEventListener("mousedown", function(){
			this.parentElement.parentElement.className = "active";
		});
		tocCover[i].addEventListener("mousedown", function(){
			this.parentElement.parentElement.className = "active";
		});
	}
	document.addEventListener("mouseup", function(){
		for (var i = 0; i < tocLi.length; i++) {
			tocLi[i].className = "";
		}
	});
	
/* 

	for (var i = 0; i < tocFigure.length; i++) {
		tocFigure[i].addEventListener("mouseover", function(){
			this.parentElement.parentElement.className = "active";
		});
		tocSummary[i].addEventListener("mouseover", function(){
			this.parentElement.parentElement.className = "active";
		});
		tocCover[i].addEventListener("mouseover", function(){
			this.parentElement.parentElement.className = "active";
		});
		
		tocFigure[i].addEventListener("mouseout", function(){
			this.parentElement.parentElement.className = "";
		});
		tocSummary[i].addEventListener("mouseout", function(){
			this.parentElement.parentElement.className = "";
		});
		tocCover[i].addEventListener("mouseout", function(){
			this.parentElement.parentElement.className = "";
		});
	}
	
 */
</script>