<!-- LIST -->
<section class="table-of-contents">
	<ul>
		
		<!-- LOAD BLOCK -->
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/green.jpg" %></figure>
					<div>
						<h2>Why Shoot Film?</h2>
						<p>I bought my first film camera five years ago as a 17th birthday present to myself. I saved up my money and walked to a little old and dusty Kodak shop and bought myself a Nikkormat FT2 with a 50mm lens.</p>
						<small><strong>Photo Essay | 8 Images</strong><em>Kayla Medica &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/green.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/graphic.jpg" %></figure>
					<div>
						<h2>The Science of Analog Photography</h2>
						<p>Analog photography is the method and the tools popular amongst amateur and professional photographers up until the early 2000s. Today it is still used by millions of artists and hobbyists who appreciate or feel fascinated by the process and the results.</p>
						<small><strong>Article | 7-minute read</strong><em>dmitrizzle &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/graphic.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/angles.jpg" %></figure>
					<div>
						<h2>Angles</h2>
						<small><strong>Featured Photo</strong><em>Robert Davie &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/angles.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/L_Woop-Woop.jpg" %></figure>
					<div>
						<h2>Full City</h2>
						<p>Over the past couple of years I have received an enormous amount of submissions for artwork, photography and written word. This willingness to trust the “creative labor of love” into my team’s hands is very flattering and gratifying.</p>
						<small><strong>Photo Essay | 9 Images</strong><em>dmitrizzle &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/L_Woop-Woop.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/Analog.Cafe-Poster.jpg" %></figure>
					<div>
						<h2>My vision for Analog.Cafe</h2>
						<p>For the past decade, I’ve been working on developing creative communities online. I haven’t realized that until today.</p>
						<small><strong>Article | 2-minute read</strong><em>dmitrizzle &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/Analog.Cafe-Poster.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/beach.jpg" %></figure>
					<div>
						<h2>Brighton Beach</h2>
						<p>Brighton Beach is a Russian community neighbourhood in New York. When I was growing up in Moscow as a kid I’ve heard a lot about it on TV: the magical place where one can become and live like an American.</p>
						<small><strong>Photo Essay | 5 Images</strong><em>Lee Clark &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/beach.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/11.6.2016-de.jpg" %></figure>
					<div>
						<h2>Weekly Robot #1</h2>
						<p>Every day our friendly robot spends her time looking at analog photographs on Twitter and beyond. Her decisions are based on logic, crafted by humans who love film. Her job is to post the most interesting find, here, every Saturday. Her name is Roberta &#x1F916;</p>
						<small><strong>Shared | 1 Link</strong><em>Roberta The Robot &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"></div></figure>
			</a>
		</li>
		<li class="feature">
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/L_Let-It-Go.jpg" %></figure>
					<div>
						<h2>Let it Go</h2>
						<p>My first cross-processed long exposure shot. Being an experimental film technique there is a lot of potential for both serendipity and failiure. And as a newbie I couldn't even imagine what it would look like once the strip has left the chemical bath at a photo lab.</p>
						<small><strong>Photo Essay | 5 Images</strong><em>Chi &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/L_Let-It-Go.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/green.jpg" %></figure>
					<div>
						<h2>Why Shoot Film?</h2>
						<p>I bought my first film camera five years ago as a 17th birthday present to myself. I saved up my money and walked to a little old and dusty Kodak shop and bought myself a Nikkormat FT2 with a 50mm lens.</p>
						<small><strong>Photo Essay | 8 Images</strong><em>Kayla Medica &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/green.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/graphic.jpg" %></figure>
					<div>
						<h2>The Science of Analog Photography</h2>
						<p>Analog photography is the method and the tools popular amongst amateur and professional photographers up until the early 2000s. Today it is still used by millions of artists and hobbyists who appreciate or feel fascinated by the process and the results.</p>
						<small><strong>Article | 7-minute read</strong><em>dmitrizzle &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/graphic.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/angles.jpg" %></figure>
					<div>
						<h2>Angles</h2>
						<small><strong>Featured Photo</strong><em>Robert Davie &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/angles.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/L_Woop-Woop.jpg" %></figure>
					<div>
						<h2>Full City</h2>
						<p>Over the past couple of years I have received an enormous amount of submissions for artwork, photography and written word. This willingness to trust the “creative labor of love” into my team’s hands is very flattering and gratifying.</p>
						<small><strong>Photo Essay | 9 Images</strong><em>dmitrizzle &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/L_Woop-Woop.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/Analog.Cafe-Poster.jpg" %></figure>
					<div>
						<h2>My vision for Analog.Cafe</h2>
						<p>For the past decade, I’ve been working on developing creative communities online. I haven’t realized that until today.</p>
						<small><strong>Article | 2-minute read</strong><em>dmitrizzle &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/Analog.Cafe-Poster.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/beach.jpg" %></figure>
					<div>
						<h2>Brighton Beach</h2>
						<p>Brighton Beach is a Russian community neighbourhood in New York. When I was growing up in Moscow as a kid I’ve heard a lot about it on TV: the magical place where one can become and live like an American.</p>
						<small><strong>Photo Essay | 5 Images</strong><em>Lee Clark &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/beach.jpg') %>);"></div></figure>
			</a>
		</li>
		<li>
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/11.6.2016-de.jpg" %></figure>
					<div>
						<h2>Weekly Robot #1</h2>
						<p>Every day our friendly robot spends her time looking at analog photographs on Twitter and beyond. Her decisions are based on logic, crafted by humans who love film. Her job is to post the most interesting find, here, every Saturday. Her name is Roberta &#x1F916;</p>
						<small><strong>Shared | 1 Link</strong><em>Roberta The Robot &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/11.6.2016-de.jpg') %>);"></div></figure>
			</a>
		</li>
		<li class="feature">
			<a href="/article">
				<section class="toc-summary">
					<figure><%= image_tag "template/L_Let-It-Go.jpg" %></figure>
					<div>
						<h2>Let it Go</h2>
						<p>My first cross-processed long exposure shot. Being an experimental film technique there is a lot of potential for both serendipity and failiure. And as a newbie I couldn't even imagine what it would look like once the strip has left the chemical bath at a photo lab.</p>
						<small><strong>Photo Essay | 5 Images</strong><em>Chi &middot; January 12, 2017</em></small>
					</div>
				</section>
				<figure class="toc-cover"><div style="background-image:url(<%= asset_path('template/L_Let-It-Go.jpg') %>);"></div></figure>
			</a>
		</li>
		<!-- END LOAD BLOCK -->
		
		
	</ul>
</section>
<!-- END LIST -->

<!--
	What is a load block?
	Top of the page:
		- 1 (top) list item overflows header
		- 5 list items
		- 1 feature (only for default, non-sorted/non-filtered view)
	Next:
		- 10 list items
	Next:
		- 10 list items
	...
	First post ever (last post in this list):
		- feature (only for default, non-sorted/non-filtered view)
		- "Load More..." button becomes "Submit Your..."
	
	How is feature defined?
		- Set by editor/owner, expires after 3 days
		- If expired/none, 7th post from the top (chronologically)
-->
