<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <title>Analog.Cafe &#x2615; <%= @document_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= csrf_meta_tags %>
    <%= inline_js 'inline/before-styles' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= inline_js 'dcl/dcl' %>
    <%= javascript_include_tag 'application', async: Rails.env.production? %>
    <%= render 'application/favicon' %>
  </head>

  <body data-controller-action="<%= controller.action_name  %>">
		<%= render "shared/nav" %>
  	<main>
    	<%= yield %>
    </main>
  </body>
</html>