<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <title>Analog.Cafe &#x2615; <%= @document_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%=
    	# critical css, printed on all pages
    	"<style>#{AnalogCafe::Application.assets.find_asset('helpers/critical')}</style>".html_safe
		%>
    <%= javascript_include_tag 'application' %>
    <%= render 'application/favicon' %>
  </head>

  <body>
		<%= render "shared/nav" %>
  	<main>
    	<%= yield %>
    </main>
  </body>
</html>
